header{
  margin-bottom: 50px;
  text-align: right;
}
.text{
  color: black;
  font-family: arial, sans-serif;
}
#log {
  background-color: #4285f4;
  color: white;
  padding: 6px 24px;
  border-radius: 5%;
  border: 1px transparent;
}
.center{
 margin: auto;
 position: absolute;
 width: 100%;
 text-align: center;
 
}
#main{
margin-bottom: 100px;
}

.buttons{
 padding:10px 45px;
  margin-top: 10px;
  border-radius: 4%;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

li{
  display:inline;
}
input{
  width: 20%;
  background-color:transparent;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  box-shadow:none;
  height: 25px;
}
footer{
  padding:1px;
  background-color:424242;
  font-family: arial;
  font-size:14px;
  display: grid;
  position:fixed;
  bottom: 0;
  width:100%;
  grid-template-areas: "ad bi hw . se te pr";
  grid-template-columns: 1fr 1fr 1fr 15fr 1fr 1fr 1fr 1fr;
  grid-template-rows:30px;
}
#ad{
  grid-area:ad;
  justify-self:left;
  align-self:center;
} 
#bi{
  grid-area:bi;
  justify-self:left;
  align-self:center;
}
#hw{
  grid-area:hw;
  justify-self:left;
  align-self:center;
}
#se{
  grid-area:se;
  justify-self:right;
  align-self:center;
}
#te{
  grid-area:te;
  justify-self:right;
  align-self:center;
}
#pr{
  grid-area:pr;
  justify-self:right;
  align-self:center;
}